body{
    background-color: rgb(247, 247, 247);
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
}
#image{
    background-color: white;
}
h1{
    line-height: 5px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
.ul2 li{
      display: inline-block;
      list-style: none;
      margin: 0 10px;
      margin-right: 1px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    height:60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar1{
    height:40px;
    display: flex;
    justify-content: end;

}
button{
    background-color: black;
    cursor: pointer; 
    border-radius: 20px;
    height:40px;
    width: 150px;
    color:white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

.ul2{
    margin-right:30vh;
}

.search{
    background-color: rgb(247, 247, 247);
    cursor: pointer; 
    padding: 5px 5px 10px 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border:none;
    border-radius: 20px;
    height:40px;
    width: 170px;
    color:black;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

.navbar1 li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    font-size: small;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nikelogo{
  max-width: 50px; 
  height: auto; 
  margin-right: 50vh;

}

.icons
{
    display: flex;
    gap: 2vh;
    margin-left: 20px;
    border-right: 10px;
}

.joinus{
    cursor: pointer;
    text-decoration: underline;
}

.secondbox
{
    margin-top: 10vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.secondbox button
{
    margin-left: 45%;
}
.featured
{
    margin-right: auto;
    margin-bottom: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 27px;
    padding-left: 75px;
}

.navbar1 svg
{
    margin-right: auto;
    padding-left: 10px;
}
.ul1 li{
    margin-right: 30px;
    margin-left: 0px;
    padding-right: 5px;
}
.head2{
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}
.custom_icon{
    border-radius: 50%;
}
.navbar{
    display: flex;
}
.footer{
    background-color: black;
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    color: white;
}
.ft_box1{
    display: flex;
}
.socialicons{
    margin-left: 40%;
    padding-top: 50px;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #7e7e7e;
    border-radius: 50%;
    color: black;
    margin-right: 10px;
}
.socialicons i{
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.socialicons i:hover{
    transform: scale(1.2);
}
.footer ul{
    list-style-type: none;
}
.footer h5{
    font-family: Nike TG,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.footer ul li{
    margin-bottom: 12px;
    color: #7e7e7e;
    line-height: 2.33;
    font-family: "Helvetica Now Text Medium",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.ft_ul1{
    margin-right: 50px;
}
.ft_ul2{
    margin-right: 30px;
}
.ft_box2{
    display: flex; 
}
.ft_box2 p{
    color: #7e7e7e;
    font-size: 14px;
    margin-left: 2vh;
    padding-top: 1.5vh;
}
.ft_ul4{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 71vh;
}
.ft_ul4 li{
    margin-bottom: 12px;
    color: #7e7e7e;
    margin-left: 5vh;
    font-family: "Helvetica Now Text Medium",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.fa-solid {
    margin-left: 10vh;
    margin-top: 3vh;
}
#ft_p1{
    color: white;
}
.gifts{
    margin-right: auto;
    margin-bottom: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 27px;
    padding-left: 75px;
    padding-top: 13vh;
}
.card1{
    padding-left:75px;
}
.small-container{
    display: flex;
    margin-right: 5px;
    padding-bottom:30px;
    background-color: white;
}

.small-container p{
    color:#7e7e7e;
}
.card2{
    padding-left: 10px;
}